{% extends "index.html" %}

{% block content %}
<div class="container mt-5">
  <h3 class="text-center mb-4"> Program Educational Objective (PEO'S)</h3>
  <p class="text-center mb-4"><ul>
    <li><strong>PEO1.</strong> To attain proffesional compentency in the fast growing area of Computer Science & Engineering.
    </li>
    <li> <strong>PEO2.</strong>
        To curate a conducive environment for exploring, analyzing and applying knowledge to improve technical & interpersonal skills of students.
    </li>
    <li> <strong>PEO3.</strong>
      To inculcate ethics, environmental awareness and societal
commitment contributing to their professional personality to serve better for a sustainable global society.
    </li>
</ul>
  <hr>
  <h3 class="text-center mb-4"> Program Specific Outcome (PSO'S)</h3>
  <p class="text-center mb-4">
    <ul>

        <li> <strong>PSO1.</strong> To continuously strive for the overall development of students by educating them in blooming cutting edge technology.
        </li>
        <li> <strong>PSO2.</strong>
            To curate a conducive environment for exploring, analyzing and applying knowledge to improve technical & interpersonal skills of students.
        </li>
        <li> <strong>PSO3.</strong> To inculcate ethics, environmental awareness and societal
commitment contributing to their professional personality to serve better for a sustainable global society.
        </li>

    </ul> </p>
  
</div>

{% endblock %}