{% extends "index.html" %}

{% block content %}
<div class="container mt-5">
  <h3 class="text-center mb-4"> Vision</h3>
  <p class="text-center mb-4">To nurture and enlighten the budding talents into socially committed & dexterous Computer Science & Engineering professionals, possessing a robust foundation and adaptable attitude for rapid technological advancements in the field along with sustainable ethical values, to meet global challenges. </p>
  <hr>
  <h3 class="text-center mb-4"> Mission</h3>
  <p class="text-center mb-4">
    <ul>
        <li>To persistently endeavor for the consistent development of
students by providing them a robust foundation in knowledge
arena by enabling students to imbibe the very essence and
philosophy of Computer Science & Engineering domain.
        </li>
        <li>To continuously strive for the overall development of students by educating them in blooming cutting edge technology.
        </li>
        <li>
            To curate a conducive environment for exploring, analyzing and applying knowledge to improve technical & interpersonal skills of students.
        </li>
        <li> To inculcate ethics, environmental awareness and societal
commitment contributing to their professional personality to serve better for a sustainable global society.
        </li>
        <li>To provide an exposure of Innovative research culture in the demanding arena of Computer Science & engineering. 
        </li>

    </ul> </p>
  
</div>

{% endblock %}
